@{
    ViewData["Title"] = "Abbreviated History of Tennis";
}
<link href="~/css/history.css" rel="stylesheet" />

<header>The History of Tennis</header>
<main>
    <div class="introDiv">
        <table class="center">
            <tr>
                <td>
                    <p class="intro">While there is some evidence that tennis may have started as far back as ancient Egypt or Greece, the first solid evidence of people playing the precursor to tennis does not appear until around the year 1000 A.D.</p>
                </td>
                <td>
                    <img src="~/assets/Images/imageedit-1-3967328184.jpg" alt="Midieval Painting of Tennis" class="introimg" />
                </td>
            </tr>
        </table>
    </div>
    <div class="historycontentarea">
        <table class="center">
            <tr class="borderbottom">
                <td>
                    <img class="historyimage" src="~/assets/Images/Medieval_Tennis,_France,_c._1510.jpg" width="400" height="218" alt="je de paume wood carving, c. 1510" />
                </td>
                <td colspan="2">
                    <p class="historytext">Around the year 1000 A.D., French monks started playing a game that is the direct precursor to modern tennis. They would play this game by either using the palm of their hand to hit a wooden ball against the side of the monastary, or over a rope pulled across a courtyard. At the time, they called this je de paume, or "game of the hand". The prevalent theory is that the name tennis comes from what they would say when they were serving the ball, "tenez" ("to take"). </p>
                </td>
            </tr>
            <tr class="borderbottom">
                <td colspan="2">
                    <p class="historytext">By the 1300s, it was speculated that there were 1800 je de paume courts across Europe. It was so popular, both for the lower classes and nobility, that the Catholic Church and even King Louis IV tried to ban the game, although this proved to be futile. Wooden balls eventually gave way to leather balls filled with cellulose material, and bare hands gave way to gloves then to gloves with webbing between the fingers. By 1500, a racket with a wooden frame and laced with sheep guts were being used with a ball that was made of cork. </p>
                </td>
                <td>
                    <img class="historyimage" src="~/assets/Images/10-50510.jpg" width="300" height="189" alt="Indoor je de paume court" />
                </td>
            </tr>
            <tr class="borderbottom">
                <td>
                    <img class="historyimage" src="~/assets/Images/01-02211.jpg" width="400" height="281" alt="Indoor je de paume court with rooves and net" />
                </td>
                <td colspan="2">
                    <p class="historytext">The game at this point would not be recognizable as tennis as we know it today. The game would be played in narrow, indoor courts, in which there galleries with a roof, and under those rooves were netted windows in which players would score points if they were able to hit the ball into them. The net was also around five foot high on the sides and three foot high in the middle.</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p class="historytext">The game lost popularity during the 1700s, but enjoyed a resurgence after Charles Goodyear created vulcanized rubber in 1850, which allowed for an exceptionally bouncy ball. In 1874, Major Walter C. Wingfield patented the rules and equipment for his version of je de paume he called Sphairistike (Greek for "playing ball"). The court he designed was hourglass shaped, which was a major difference to previous iterations. Courts started appearing in the United States, Russia, China and Canada. In 1877, the game took the form that we see today, thanks to the All England Club Croquet. They had a need to raise money to fix a roller at their private club, so they held the first Wimbleton tennis tournament. Since they already had rectangle shaped courts for croquet, they decided to change the layout of the court from Whigfield to the rectangular croquet court, and modified the rules to fit the changes. These rules, with some minor alterations, are essentially the same rules that are played today. </p>
                </td>
                <td>
                    <img class="historyimage" src="~/assets/Images/Wimbledon_Championship_1877.jpg" width="400" height="312" alt="Sketch of the first Wimbleton tennis tournament, 1877" />
                </td>

            </tr>
        </table>
    </div>
</main>