@{
    ViewData["Title"] = "Index";
}

<div class="text-center">

    <h1 class="display-1">Welcome to Tennis Time!</h1>
    <p>Your central place to find out more about the equipment, rules, world records and more!</p>

</div>
<div class="index-info">
    <h1 class="display-4">Explore the History</h1>
    <p>Find out where and why the sport started! From Egypt to modern times!</p>
    <<a class="nav-link text-dark" asp-area="" asp-controller="Tennis" asp-action="History">
         <img src="~/assets/Images/imageedit-1-3967328184.jpg" class="img-fluid" style="width:500px;height:400px;" alt="Midieval Painting of Tennis" />
    </a>
    

    <h1 class="display-4">Discover the Unique Equipment Used</h1>
    <p>You cant have fun without some tools needed to play</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Tennis" asp-action="Equipment">
        <img src="~/assets/Images/tools.jpg" class="img-fluid" style="width:500px;height:400px;" alt="Tools of Tennis" />
    </a>
    <p>Plus more!!!</p>
</div>
