@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tennis Time!</h1>
    <p>Your central place to find out more about the equipment, rules, world records and more!</p>
</div>
