@{
    ViewData["Title"] = "OurTeam";
}

<div class="text-center">
    <h1 class="display-4">Our Team</h1>
    <p>Say hello to the team who developed this site!</p>
    <h1>Vaz, Torcato</h1>
    <p>Created project template, initialized local git repo, and setup racquet DB, associated views, and backend configuration.</p>

    <h1>Schmidt, Joseph</h1>
    <p>Created the history and rules pages</p>

    <h1>Belmont, Jared</h1>
    <p></p>

    <h1>Hand,Brennan</h1>
    <p>Created the world records page and added CSS/styling</p>

    <h1>Negron, Christopher</h1>
    <p>Index, Our Team, HomeController, TennisController, Navbar and links to pages</p>
</div>
