@{
    ViewData["Title"] = "OurTeam";
}

<div class="text-center">
    <h1 class="display-4">Our Team</h1>
    <p>Say hello to the team who developed this site!</p>

    <h2>Vaz, Torcato</h2>
    <p>Created project template, initialized local git repo, and setup racquet DB, associated views, and backend configuration</p>

    <h2>Schmidt, Joseph</h2>
    <p>Created the history and rules pages</p>

    <h2>Belmont, Jared</h2>
    <p>Formatted the CSS for all pages</p>

    <h2>Hand,Brennan</h2>
    <p>Created the world records page and added CSS/styling</p>

    <h2>Negron, Christopher</h2>
    <p>Index, Our Team, HomeController, TennisController, Navbar and links to pages</p>
</div>
