@{
    ViewData["Title"] = "Equipment";
}

<div class="text-center">
    <h1 class="display-4">Equipment</h1>

    <table class="table">
        <thead>
            <tr><th>Make</th><th>Model</th><th>Year</th><th>Price</th></tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
