@{
    ViewData["Title"] = "Rules of Tennis";
}
<link href="~/css/history.css" rel="stylesheet" />
<div class="text-center">
    <header><h1 class="display-4">The Rules of Tennis</h1></header>
</div>

<main>
    <div class="introDiv">
        <table class="center">
            <tr>
                <td>
                    These are the official rules for Tennis, as outlined by the International Tennis Federation.
                </td>
            </tr>
        </table>
    </div>
    <embed src="https://www.itftennis.com/media/2510/2020-rules-of-tennis-english.pdf" width="100%" height="375"
           type="application/pdf">
</main> 