@{
    ViewData["Title"] = "WorldRecords";
}

<div class="text-center">
    <h1 class="display-4">Tennis World Records</h1>    
</div>
<main>
    <div>
        <div class="text-center">
            <h2>Men's Tennis World Records</h2>    
        </div>
        <div id="MensRecordsTable">
                    <table>
                        <tr><th> Player </th><th> Record Broken  </th><th> Description  </th></tr>
                        <tr><td> <img src="~/assets/Images/RogerF.jpg" class="img-fluid" style="width:400px;height:300px;" alt="Picture of Roger Federer"/>Roger Federer  </td><td> Most Grand Slam Titles (17) </td><td> Roger Federer is the winner of the most Grand Slam titles (Australia, French, US Open or Wimbledon), with 17 so far in his career. The awesome Swiss has shown through his long career an ability to adapt his game to any surface, also remaining almost injury-free through 65 Grand Slam tournament appearances.  </td></tr>
                        <tr><td> Jimmy Connors  </td><td> Most ATP Tour Singles Titles (109) </td><td> The Association of Tennis Professionals founded in 1972 awards the most Tour single titles to Jimmy Connors. Jimmy Connors, that fierce competitor from the United States, holds the record by a convincing margin for the most Tour titles won since the ATP Tour was conceived in 1972. He has won 109 tournaments, 15 more than the next most successful, Ivan Lendl.  </td></tr>
                        <tr><td> Rafael Nadal  </td><td> Highest Winning Percentage (82.96%) </td><td> Nadal holds the highest percentage of match victories from total matches played. With 740 victories to 152 defeats, that means a win percentage of 82.96%. It's even higher on clay courts, where Nadal has won 91.87% of all his matches, including those nine French Opens.  </td></tr>
                    </table>
        </div>
    </div>
</main>