@model Racquet
@{
    ViewBag.Title = "Delete Racquet";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Model (@Model.Year)</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="RacquetId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>